.card-width{
    width: 18rem;
    height: 18rem;
    
}

.car-card{
    
    padding-top: 20px;
}
.image-list{

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: 250px;
    grid-gap:70px 40px;
    
    grid-row-end: 100px;
}